.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background);
  border-radius: 16px;
  padding: 16px;
  cursor: pointer;
  transition-duration: 500ms;
  gap: 7px;
  min-width: 131px;

  p,
  span {
    user-select: none;
    transition: 500ms;
  }

  &:hover {
    span,
    p {
      transition: 500ms;
      scale: 105%;
    }
  }

  &:active {
    scale: 0.9;
  }
}

span {
  color: var(--text-color);
  background-color: var(--counter-background);
  padding: 0px 8px 0px 8px;
  border-radius: 50%;
  font-size: 15px;
}

.spinner {
  position: absolute;
  top: auto;
  right: auto;
  animation: rotate 1s linear infinite;
}

.btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.hide {
  animation: hide 1s;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
}

@keyframes shimmer {
  from {
    transform: rotate(-360deg);
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
