@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

:root {
  --primary: #ff7700;
  --primary-transparent: #ffffff1f;
  --primary-text-color: #ffffff;

  --secondary: #8366561f;
  --secondary-transparent: #8366561f;
  --secondary-text-color: #2e2f33;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}

body,
p {
  margin: 0;
  white-space: nowrap;
}
